{% extends 'base.html' %}
{% block title %}
  ALL WORLD NEWS
{% endblock %}
{% block content %}  
  <div class="grid" style="--bs-columns: {{n_articles}};">
    {% for item in top_headlines_json %}    
      <a class="cst_ctn" href="{{item.url}}" rel="canonical" aria-label="infobae story">
        <h2 class="cst_hl dkt_fs_36">
          <span>
            {{item.title}}
          </span>
        </h2>
        <div class="cst_deck dkt_fs_19 dkt_lh_150">
          {{item.description}}
        </div>
          <div class="cst_img_ctn cst_img_ctn_16_9">
            <img class="img-thumbnail" alt="" src="{{item.urlToImage}}" sizes="(min-width: 200px) 200px, 10vw" loading="lazy">
          </div>
        <div class="overlay_ctn">
          Por Mariano Boettner
        </div>
      </a>
    {% endfor %}
  </div> 
{% endblock %}