<!doctype html>
<html lang="en">
  {% extends 'base.html' %}
  {% block content %}
  <body>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <!-- Your Values HERE -->
          <th scope="col">TITLE</th>
          <th scope="col">DESCRIPTION</th>
           <!-- <th scope="col">URL</th> -->
           <!-- <th scope="col">IMAGEN</th> -->
           <!-- <th scope="col">SUBSCRIPTION TO NEWSPAPER</th> -->
           <!-- <th scope="col">NEWSLETTER</th>  -->    
        </tr>
      </thead>
      <tbody>
        <!-- Your rows inside the table HERE: -->
          {% for item in top_headlines_title %} 
            <tr>
              <!-- Your Values HERE -->
              <td scope="col">{{ item.title }}</td>
              <td scope="col">{{ item.description }}</td>
              <!-- <td scope="col">{{ item.url }}</td> -->
              <!-- <td scope="col">{{ item.urlToImage }}</td> -->
              <td>
                <button class="btn btn-outline btn-info">See more articles from newspaper</button>
                <button class="btn btn-outline btn-success">Subscribe to newspaper</button>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    {% endblock %}
   
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
  <style>
    body{
      background-color: #212112;
      color: white;
    }
  </style>
</html>